{{- $wp_site_url := .Site.Data.vars.urls.product_home.full -}}
<div class="footer">
  <h2 class="footer-header">Bring Your Data Science <strong>to Life</strong></h2>
  <div class="footer__cta-btn">
    <a class="btn btn btn-animated text-white btn-animated" data-toggle="modal" data-target="#modal_2201">Try Iguazio For Free</a>
  </div>
  <div class="footer-menu-wrapper">
    <ul class="footer-menu">
      <li class="section-item">
        <h2 class="section-title"><a href="{{- $wp_site_url -}}/platform/">Platform</a></h2>
        <ul class="sub-menu">
          <li class="menu-item"><a href="{{- $wp_site_url -}}/platform/">MLOps Platform</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/feature-store/">Integrated Feature Store</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/technology/">Technology</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/latest-release/">Documentation</a></li>
        </ul>
      </li>
      <li class="section-item">
        <h2 class="section-title"><a href="{{- $wp_site_url -}}/solutions/">Solutions</a></h2>
        <h2 class="section-sub-title">By Industry</h2>
        <ul class="sub-menu">
          <li class="menu-item"><a href="{{- $wp_site_url -}}/solutions/financial-services/">Financial Services</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/solutions/telecommunications/">Telecommunications</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/solutions/retail/">Retail</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/solutions/manufacturing/">Manufacturing</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/solutions/ad-tech-gaming/">Ad-Tech and Gaming</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/solutions/smart-mobility/">Smart Mobility</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/solutions/healthcare/">Healthcare</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/solutions/energy-and-utilities/">Energy and Utilities</a></li>
        </ul>
      </li>
      <li class="section-item">
        <h2 class="section-title"></h2>
        <h2 class="section-sub-title">By Use Case</h2>
        <ul class="sub-menu">
          <li class="menu-item"><a href="{{- $wp_site_url -}}/solutions/pipeline-orchestration/">ML Pipeline Orchestration</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/solutions/model-monitoring/">Model Monitoring</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/solutions/real-time-feature-engineering/">Real Time Feature Engineering</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/solutions/gpu-as-a-service/">GPU as a Service</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/solutions/serverless-automation/">Serverless Automation</a></li>
        </ul>
      </li>
      <li class="section-item">
        <h2 class="section-title"><a href="{{- $wp_site_url -}}/mlops/">MLOps</a></h2>
        <ul class="sub-menu">
          <li class="menu-item"><a href="{{- $wp_site_url -}}/mlops/">MLOps Resaources</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/mlops-live-webinar-series/">MLOps Live Webinar Series</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/glossary/">MLOps Glossary</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/questions/">MLOps Q&A</a></li>
        </ul>
      </li>
      <li class="section-item">
        <h2 class="section-title"><a href="{{- $wp_site_url -}}/open-source/">Open source</a></h2>
        <ul class="sub-menu">
          <li class="menu-item"><a href="{{- $wp_site_url -}}/open-source/nuclio/">Nuclio</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/open-source/mlrun/">MLRun</a></li>
        </ul>
      </li>
      </li>
      <li class="section-item">
        <h2 class="section-title"><a href="{{- $wp_site_url -}}/customers/">Customers</a></h2>
        <ul class="sub-menu">
          <li class="menu-item"><a href="{{- $wp_site_url -}}/customers/">Customer Stories</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/support/">Support</a></li>
        </ul>
      </li>
      <li class="section-item">
        <h2 class="section-title"><a href="{{- $wp_site_url -}}/company/">Company</a></h2>
        <ul class="sub-menu">
          <li class="menu-item"><a href="{{- $wp_site_url -}}/company/">About</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/blog/">Blog</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/news-events/">News & Events</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/careers/">Careers</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/partners/">Partners</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/contact/">Contact</a></li>
        </ul>
      </li>
      <li class="section-item">
        <h2 class="section-title"><a href="{{- $wp_site_url -}}/blog">Blog</a></h2>
        <ul class="sub-menu">
          <li class="menu-item"><a href="{{- $wp_site_url -}}/introduction-to-tf-serving/">Introduction to TF Serving</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/odscwest2021/">ODSC West Conference- Top 6 Sessions You Must Attend</a></li>
          <li class="menu-item"><a href="{{- $wp_site_url -}}/it-worked-fine-in-jupyter-now-what/">It Worked Fine in Jupyter. Now What? </a></li>
        </ul>
      </li>

      <li class="section-item social-media">
        <ul class="social-media-icons">
          <li class="media-item">
            <a href="{{ .Site.Social.facebook }}" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="media-item">
            <a href="{{ .Site.Social.twitter }}" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="media-item">
            <a href="{{ .Site.Social.linkedin }}" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li class="media-item">
            <a href="{{ .Site.Social.youtube }}" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li class="media-item">
            <a href="{{ .Site.Social.github }}" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
  <p class="igz-ltd">
    &#169; Iguazio Ltd. - All Rights Reserved
  </p>
</div>

<div class="footer-bottom">
  <div class="footer-bottom-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-sm-12 col-md-7">
          <div class="part-left">
            <p class="text">
              &#169; {{ .Site.Params.company_ltd }} - All Rights Reserved
            </p>
          </div>
        </div>
        <div class="col col-sm-12 col-md-5">
          <div class="part-right">
            <p class="text">
              <a href="{{- $wp_site_url -}}/privacy-policy/">Privacy policy</a> |
              <a href="{{- $wp_site_url -}}/terms-of-use/">Terms of use</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "analytics" . }}
