/* ================================== */
/* Page Body */
body {
  font-family: $font-body;
  font-size: $font-size-default;
  color: $color-text;
} /* [body] */
/* ================================== */

/* ================================== */
/* Text */
.text {
  font-size: $font-size-default;
  color: $color-text;
  line-height: 1.6em;
} /* [text] */
/* ================================== */

